/*-- scss:defaults --*/

$body-bg: white;
$navbar-bg: #1B375D;
$navbar-fg: white;
$navbar-hl: #EEB4B3;
$font-family-sans-serif: serif;



/*-- scss:rules --*/

.quarto-dashboard .bslib-value-box .value-box-value {
    font-size: clamp(.5em, 5cqw, 2em) !important;
}

.navbar .nav-link.active {
  background-color: $navbar-hl !important; /* Pink background for active tab */
  color: #1B375D !important; /* Example: Gold text for active tab */
  font-weight: bold; /* Makes the text bold */
  border-radius: 5px; /* Optional: Rounded edges for style */
}